<html>
    <head>
        <title>$action.getText('threaddump.title')</title>
        #requireResource("confluence.web.resources:aui-forms")
    </head>
    <body>
        <content tag="selectedWebItem">admin.threaddumplink</content>
        <p>
        $action.getText('threaddump.description', [ $action.getText('url.thread.dump.generation') ])
        </p>


        #applyDecorator("form-aui")
            #decoratorParam("formName" "threaddumpform")
            #decoratorParam("editAction"  "generatethreaddump.action")
            #decoratorParam("formStyle" "llab")
            <fieldset>
                <h2>$action.getText('threaddump.generate.immediately')</h2>
                <p>$action.getText('threaddump.immediately.description')</p>

                <div class="submit">
                    #tag ("Submit" "value='threaddump.single'" "align='center'" "theme='notable'" "template='submit.vm'")
                </div>
            </fieldset>

            #if ($action.threadDumpOutput)
            <fieldset>
                <h3>$action.getText('threaddump.output.title')</h3>
                <textarea rows="20" style="width: 100%">$action.threadDumpOutput</textarea>
            </fieldset>
            #end
        #end



        #applyDecorator("form-aui")
            #decoratorParam("formStyle" "llab")
            #decoratorParam("formName" "schedulethreaddump")
            #decoratorParam("submitAction"  "schedulethreaddump.action")
            #decoratorParam("editMode" true)
            <fieldset>
                <h2>$action.getText('threaddump.schedule')</h2>
                <p>$action.getText('threaddump.schedule.description')</p>

                #bodytag( "TextField" "label='threaddump.number'" "name='count'" "theme='aui'" "value='3'")
                    #param ("cssClass" "short-field")
                #end
                #bodytag( "TextField" "label='threaddump.pause'" "name='intervalSeconds'" "theme='aui'" "value='30'")
                    #param ("inlineText" $action.getText('threaddump.schedule.interval.units'))
                    #param ("cssClass" "short-field")
                #end
            </fieldset>
            <div class="submit">
                #tag ("Submit" "value='threaddump.schedule.now'" "align='center'" "theme='notable'" "template='submit.vm'")
            </div>
        #end

        #parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>